.rendom__card {
    width: 300px;
    height: 350px;
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 15px;
    border-radius: 5px;
}
.rendom__card--border {
    border: 2px solid darkred;
}
.card__title {
    font-size: 20px;
    color: #000;
}
.card__level {
    font-size: 15px;
    color: #000;
}
.card__img{
    width: 250px;
    height: 60%;
    margin: 10px 0;
}
.card__img img {
    width: 100%;
    height: 100%;
}
