.counterCont {
    width: 200px;
    height: 200px;
    background-color: darkgray;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0;
    background-color: #f1f1f1;
    border-radius: 5px;
}
