textarea {
    outline: none;
    border-radius: 8px;
    border: 2px solid seagreen;
    width: 200px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    padding: 10px;
}
.text__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 15px;
}
button {
    padding: 10px 15px;
    outline: navajowhite;
    border: 2px solid seagreen;
    border-radius: 8px;
    background-color: seagreen;
}
